{
  "name": "{{ package_name }}",
  "version": "0.1.0",
  "description": "{{ project_description }}",
  "repository": {
    "type": "git",
    "url": "https://github.com/johndoe/{{ package_name }}"
  },
  "author": {
    "name": "{{ author_name }}",
    "email": "{{ author_email }}"
  },
  "license": "MIT",
  "config": {
    "database": "{{ database_name }}",
    "service": "{{ package_name }}"
  },
  "scripts": {
    "test": "echo 'Run Python tests'",
    "lint": "echo 'Run Python linting'"
  }
}
