"""
mypackage - {{ project_description }}

This package provides utilities for data processing and analysis.
Author: John Doe
"""

from {{ package_name }}.core import {{ class_name }}
from {{ package_name }}.utils import format_output, validate_input
from {{ package_name }}.config import Config

__version__ = "0.1.0"
__author__ = "{{ author_name }}"
__email__ = "{{ author_email }}"

__all__ = [
    "{{ class_name }}",
    "format_output",
    "validate_input",
    "Config",
]
